html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "tt0596m_";
  src: url("./fonts/tt0596m_.ttf") format("truetype");
}

body {
  font-family: "tt0596m_", sans-serif;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(-90deg, rgba(0, 0, 0, 0.04) 1px, transparent 1px),
    linear-gradient(rgba(0, 0, 0, 0.04) 1px, transparent 1px),
    linear-gradient(transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
    linear-gradient(-90deg, #aaa 1px, transparent 1px),
    linear-gradient(-90deg, transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
    linear-gradient(#aaa 1px, transparent 1px), #f2f2f2;
  background-size: 4px 4px, 4px 4px, 80px 80px, 80px 80px, 80px 80px, 80px 80px, 80px 80px, 80px 80px;
}

a {
  color: blue;
  text-decoration: none;
}

#color-canvas-select {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#navigation {
  padding: 20px;
  margin: 0;
}

#enter {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: blue;
  cursor: pointer;
  user-select: none;
}

#inform {
  color: blue;
  cursor: pointer;
  text-transform: uppercase;
  user-select: none;
  text-decoration: none;
}

#home {
  color: blue;
  cursor: pointer;
}

#canvas {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.color-box {
  width: 100%;
  height: 100%;
}

#back {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: blue;
  cursor: pointer;
  z-index: 101;
}

#info {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  background: #fffffffa;
  z-index: 99;
  padding: 20px;
}