html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "tt0596m_";
  src: url("./fonts/tt0596m_.ttf") format("truetype");
}

body {
  font-family: "tt0596m_", sans-serif;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  background-image: linear-gradient(45deg, #cccccb 25%, transparent 25%),
    linear-gradient(135deg, #cccccb 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #cccccb 75%),
    linear-gradient(135deg, transparent 75%, #cccccb 75%);
  background-size: 10px 10px;
  background-position: 0 0, 5px 0, 5px 5px, 0 5px;
}

a,
.link {
  color: blue;
  text-decoration: none;
}

a:hover,
.link:hover {
  color: white;
}

.link {
  cursor: pointer;
}

#color-canvas-select {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#navigation {
  padding: 20px;
  margin: 0;
}

#enter,
#inform {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

#canvas {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.color-box {
  width: 100%;
  height: 100%;
}

#info {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  background: #fffffffa;
  z-index: 99;
  padding: 20px;
}
