html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "tt0596m_";
  src: url("./fonts/tt0596m_.ttf") format("truetype");
}

body {
  font-family: "tt0596m_", sans-serif;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

#color-canvas-select {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#enter {
  margin: 0;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: blue;
  cursor: pointer;
  user-select: none;
}

#canvas {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.color-box {
  width: 100%;
  height: 100%;
}

#counter {
  position: fixed;
}

#info {
  position: fixed;
}